<h1>{{name}}</h1>
<p>{{description}}</p>
<h2>Users</h2>
<ul>
  {{#if owner}}
    {{#each users}}
      <li>
        <form id="{{id}}">
          <a href="/user/{{id}}">{{username}}</a>
          <button class="kickUserButtons">Kick</button>
        </form>
      </li>
    {{/each}}
  {{else}}
    {{#each users}}
      <li>
        <form id="{{id}}">
          <a href="/user/{{id}}">{{username}}</a>
        </form>
      </li>
    {{/each}}
  {{/if}}
</ul>
{{#if owner}}
  <button id="deleteServerButton">Delete Server</button>
{{else}}
  {{#if member}}
    <button id="leaveServerButton">Leave Server</button>
  {{/if}}
{{/if}}
<script src="/public/js/server.js"></script>