<h1>{{name}}</h1>
<p>{{description}}</p>
<ul>
    {{#each messages}}
        <li id="{{id}}">
            <a href="/user/{{userId}}">{{username}}</a>
            <p>{{message}}</p>
        </li>
    {{/each}}
</ul>
<form action="/message" method="post">
    <input type="text" name="message">
    <button type="submit">Send</button>
</form>