<main class="channel__main">
  <header>
    <a href="/server/{{serverId}}">Go back to server</a>

    <div>
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
  </header>

  <ul id="channel__messages">
    {{#each messages}}
    <li id="{{id}}">
      <a href="/user/{{userId}}">{{username}}</a>
      <p class="channel__message">{{message}}</p>
    </li>
    {{/each}}
  </ul>

  <form class="channel__submit-form">
    <input type="text" name="message" autocomplete="off" />

    <button id="channel__send-button">Send</button>
  </form>
</main>
