<main class="friends__main">
  <a href="/user/{{id}}">Go back to profile</a>

  <div class="friends__content">
    <div class="friends__friends">
      <svg class="friends-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
      <h1>{{username}}'s Friends</h1>
      <ul id="friends__friends-list">
        {{#each friends}}
          <li>
            <form id="{{id}}">
              <a href="/user/{{id}}">{{username}}</a>
              <div>
                <a href="/privateMessage/{{privateMessageId}}">
                  Chat
                </a>
                <button class="friends__remove-buttons">Remove</button>
              </div>
            </form>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="friends__friend-requests">
      <h2>Send Friend Request</h2>
      <form>
        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off" />

        <button id="friends__request-button">Send</button>
      </form>
      <h2>Incoming Friend Requests</h2>
      <ul id="friends__friends-requests-list">
        {{#each friendRequests}}
          <li>
            <form id="{{id}}">
              <a href="/user/{{id}}">{{username}}</a>
              <div>
                <button class="friends__accept-buttons">Accept</button>
                <button class="friends__reject-buttons">Reject</button>
              </div>
            </form>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>
