<h1>{{username}}</h1>
<p>{{bio}}</p>
{{#if authenticated}}
  <h2>Servers</h2>
  <ul>
    {{#each servers}}
      <li><a id="{{id}}" href="/server/{{id}}">{{name}}</a></li>
    {{/each}}
  </ul>

  <h2>Friends</h2>
  <ul id="friendsList">
    {{#each friends}}
      <li>
        <form id="{{id}}">
          <a href="/user/{{id}}">{{username}}</a>
          <button class="removeFriendButtons">Remove</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <h2>Friend Requests</h2>
  <ul>
    {{#each friendRequests}}
      <li>
        <form id="{{id}}">
          <p>{{username}}</p>
          <button class="acceptFriendRequestButtons">Accept</button>
          <button class="rejectFriendRequestButtons">Reject</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <h2>Create Server</h2>
  <form>
    <label for="name">Server Name:</label>
    <input type="text" name="name" />

    <button id="createServerButton">Create Server</button>
  </form>

  <h2>Send Friend Request</h2>
  <form>
    <label for="username">Username:</label>
    <input type="text" name="username" />

    <button id="createFriendRequestButton">Send Friend Request</button>
  </form>

  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>
{{/if}}
<script src="/public/js/user.js"></script>