<h1>{{username}}</h1>
<p>{{bio}}</p>

{{#if owner}}
  <p id="darkMode" hidden="true">{{darkMode}}</p>

  <form>
    <label for="bio"></label>
    <textarea id="bio" name="bio">{{bio}}</textarea>

    <label for="darkRadio">Dark</label>
    <input type="radio" id="darkRadio" name="color" value="dark" />

    <label for="lightRadio">Light</label>
    <input type="radio" id="lightRadio" name="color" value="light" />

    <button id="updateUserButton">Update User</button>
  </form>

  <h2>Servers</h2>
  <ul id="serversList">
    {{#each servers}}
      <li>
        <form id="{{id}}">
          <a href="/server/{{id}}">{{name}}</a>
          <button class="leaveServerButtons">Leave</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <h2>Friends</h2>
  <ul id="friendsList">
    {{#each friends}}
      <li>
        <form id="{{id}}">
          <a href="/user/{{id}}">{{username}}</a>
          <button class="removeFriendButtons">Remove</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <h2>Friend Requests</h2>
  <ul>
    {{#each friendRequests}}
      <li>
        <form id="{{id}}">
          <a href="/user/{{id}}">{{username}}</a>
          <button class="acceptFriendRequestButtons">Accept</button>
          <button class="rejectFriendRequestButtons">Reject</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <h2>Join Server</h2>
  <form>
    <label for="serverSearchbar">Server Name:</label>
    <input id="serverSearchbar" type="text" name="name" />
  </form>
  <ul id="queriedServers">
  </ul>

  <h2>Create Server</h2>
  <form>
    <label for="name">Server Name:</label>
    <input type="text" name="name" />

    <button id="createServerButton">Create Server</button>
  </form>

  <h2>Send Friend Request</h2>
  <form>
    <label for="username">Username:</label>
    <input type="text" name="username" />

    <button id="createFriendRequestButton">Send Friend Request</button>
  </form>

  <form action="/api/user/logout" method="post">
    <button type="submit">Logout</button>
  </form>

  <button id="deleteUserButton">Delete User</button>
{{/if}}

<script src="/public/js/user.js"></script>
<script src="/public/js/server.js"></script>